/* Sass variables */

$blue: rgb(0, 97, 158);
$lightGray: rgb(218, 218, 218);
$darkGray: rgb(158, 158, 158);

/* Utility classes */

div.hidden { right: calc(-62% - 3px); }
div.displayed { right: 0; }

/* General styles */

body {
	background: $blue;
	font-size: 15px;
	margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

div.container {
  width: 94%;
  margin: 3% auto;
}

div.app { display: flex; }

/* Form component styles */

div.formWrapper {
	background: $lightGray;
  border: solid $lightGray 6px;
	height: 215vh;
	width: 38%;

	form.form {
		background-color: $blue;
		border: solid 6px white;
		border-radius: 10%;
	  width: 62%;
		margin: 18% auto 0;
	  padding: 10% 10% 4%;

		textarea.textarea {
			border: none;
			font-size: 23px;
			height: 38vh;
		  width: 100%;
			padding: 5% 0;
		  resize: none;
			text-align: center;
		}
	}

	button.submit {
		background-color: $lightGray;
		border: none;
		cursor: pointer;
		font-size: 15px;
	  font-weight: bold;
		display: block;
		width: 27%;
		margin: 5% auto 0;
	  padding: 5%;

	  transition: background-color 0.2s;

		&:hover {
			background-color: $darkGray;
			color: white;
		}
	}
}

/* Sample data styles */

div.sampleData {
  background-color: white;
  border-top: solid $blue 12px;
  border-bottom: solid $blue 12px;
	width: 62%;

	h2.dataHeading {
		background: $darkGray;
		color: white;
		font-family: sans-serif;
		margin: 0 0 5%;
		padding: 5% 0;
	  text-align: center;
	}

	div.dataWrapper {
	  display: flex;
		align-items: start;
		justify-content: space-evenly;

		pre.sample {
		  background: $lightGray;
			border: solid 10px $darkGray;
			font-size: 15px;
			width: 19%;
			margin: 0;
		  padding: 3%;
			overflow: hidden;
		  text-align: center;
		}
	}
}

/* Tree component styles */

div.treeWrapper {
	background-color: white;
	border-left: solid 3px $darkGray;
	min-height: 228vh;
	padding-bottom: 3%;
	position: absolute;
	top: 0;
  width: 62%;
  text-align: center;
  transition: right 0.75s;

	div.backArrowWrapper {
		background: $darkGray;
		height: 100%;
	  margin-bottom: 6%;
	  padding-bottom: 11.5%;

		span.backArrow {
			border: solid white 2px;
			border-radius: 100%;
			color: white;
			cursor: pointer;
			font-size: 31px;
			position: absolute;
		  top: 0;
		  left: 0;
			margin: 1%;
		  padding: 0.5% 1%;
		  transition: background-color 0.2s;
		  transition: border-color 0.2s;

			&:hover {
				background-color: $lightGray;
				border-color: $lightGray;
			  color: white;
			}
		}
	}

	div.treeContainer {
	  display: inline-block;
	  text-align: left;

		span.vertexId {
			color: white;
			display: inline-block;
			font-weight: bold;
			height: 32px;
			width: 32px;
			list-style: none;
			line-height: 32px;
			margin: 0 0 8px;
			text-align: center;
		}

		span.circle { border-radius: 100%; }

		ul.tree,
		ul.tree ul {
		  list-style: none;
		  margin: 0;
		  padding: 0;
		}

		ul.tree ul { margin-left: 22px; }

		ul.tree li {
			border-left: thin solid black;
		  margin-left: 16px;

			&:last-child {
				border-left: none;

				&:before { border-left: thin solid black; }
			}

			&:before {
				border-bottom: thin solid black;
			  content: "";
			  display: inline-block;
				height: 16px;
				width: 16px;
			  margin-right: 8px;
			  vertical-align: top;
			}
		}
	}
}
